body {
    margin: 0;
    height: 100vh;
    background-color: #111;  /* Dark background like terminal */
    background-image: 
      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px), /* Vertical grid */
      linear-gradient(180deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px); /* Horizontal grid */
    background-size: 30px 30px;  /* Grid cell size */
    background-attachment: fixed;
    transition: background-position 0.1s ease-out;
    color: #fff;  /* Text color for a terminal-like look */
    font-family: monospace;  /* Monospace font for the terminal appearance */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
img {
    -webkit-user-drag: none;
}
.container {
    max-width: 60ch;
    text-align: center;
}
.small {
    font-size: 11px;
}
.right {
    margin-left: 250px;
}
a {
    color: #4955ff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: currentColor; /* or use #4955ff */
    transition: width 0.3s ease, left 0.3s ease;
}
a:hover::after {
    width: 100%;
    left: 0;
}